html,body{
  margin: 0;
  padding: 0;
  
}

*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.square{

    background-color: black;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#board{
    width: 700px;                             
    height: 700px;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;

    border: 1px solid black;
}


#content{
  display: grid;
  place-items: center;
}


#GameOverScreen{
  width: 500px;
  height: 250px;
  background-color: black;
  opacity: .5;
  position: absolute;

}

#GameOverText{
  color:white;
  font-size: 48px;
  padding-left: 25%;
}
#GameOverScore{
  color:white;
  font-size: 32px;
  padding-left: 33%;
}
#gameOverButton{
  height: 75px;
  width: 100px;
  border: 2px solid rgb(52, 52, 52);
  opacity: none;
  margin-left: 37.5%;
  margin-top: 25px;
  font-weight: bold;
  font-size: 20px;
}


